/* Estilos para o formulário */

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:5px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #545b62;
}

.corner-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    z-index: 1000; /* Para garantir que a imagem fique sobre os outros elementos */
}