<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Formulário de dados CCM</h1>
    <div class="mb-3">
        <!-- O botão de novo registro foi removido -->
        <!-- <button type="button" class="btn btn-secondary" onclick="location.href='/new'">Novo Registro</button> -->
        <button type="button" class="btn btn-secondary" onclick="location.href='/previous'">Anterior</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/next'">Próximo</button>
    </div>
    <form method="POST">
        {% for column in columns %}
        <div class="form-group">
            <label for="{{ column }}">{{ column }}</label>
            <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" value="{% if form_data is defined %}{{ form_data[column] }}{% endif %}">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


